body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Monument Extended';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #0f0f1a;
}

@font-face { font-family: 'MunikaHeavy'; src: url('fonts/munika-heavy.otf') format('opentype'); }
@font-face { font-family: 'HelveticaSemibold'; src: url('fonts/Helvetica-Bold.ttf') format('truetype'); }
@font-face { font-family: 'GroteskMedium'; src: url('fonts/Grotesk Medium.ttf') format('truetype'); }
@font-face { font-family: 'MunikaMedium'; src: url('fonts/munika-regular.otf') format('opentype'); }
@font-face { font-family: 'MunikaLight'; src: url('fonts/munika-light.otf') format('opentype'); }
@font-face { font-family: 'UraniaBlack'; src: url('fonts/urania-black.ttf') format('truetype'); }
@font-face { font-family: 'UraniaBold'; src: url('fonts/urania-bold.ttf') format('truetype'); }

.grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateZ(0);
}
.grain:before {
    content: "";
    position: fixed;
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.1;
    pointer-events: none;
    animation: noise 1s steps(2) infinite;
    z-index: 3;
}
@keyframes noise {
    0% { transform: translate3d(0,9rem,0); }
    10% { transform: translate3d(-1rem,-4rem,0); }
    20% { transform: translate3d(-8rem,2rem,0); }
    30% { transform: translate3d(9rem,-9rem,0); }
    40% { transform: translate3d(-2rem,7rem,0); }
    50% { transform: translate3d(-9rem,-4rem,0); }
    60% { transform: translate3d(2rem,6rem,0); }
    70% { transform: translate3d(7rem,-8rem,0); }
    80% { transform: translate3d(-9rem,1rem,0); }
    90% { transform: translate3d(6rem,-5rem,0); }
    100% { transform: translate3d(-7rem,0,0); }
}

.title, .sub-title, .desc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
}

.title {
    font-family: 'UraniaBold';
    font-size: 55px;
    font-weight: 800;
    color: white;
    margin-top: -20%;
    letter-spacing: 1px;
}

.sub-title {
    font-family: 'HelveticaSemibold';
    font-size: 55px;
    font-weight: 800;
    background: linear-gradient(0deg, #636363 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -15%;
    letter-spacing: 1px;
}

.desc {
    font-family: 'MunikaMedium';
    font-size: 15px;
    font-weight: 800;
    color: rgb(124, 124, 124);
    margin-top: -2%;
    letter-spacing: 1px;
}

.gradient-text-bw {
    background: linear-gradient(45deg, #3f3f3f 0%, #cccccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label-deco,
.label-deco2 {
    font-family: "UraniaBlack";
    font-size: 400px;
    color: rgba(255, 255, 255, 0.452);
    position: absolute;
    z-index: -1;
}

.label-deco { left: 30%; top: -90%; }
.label-deco2 { left: -80%; }

.book-handle {
    position: absolute;
    width: 500px;
    height: 500px;
}

.nav-btn {
    position: relative;
    top: 10%;
    left: -38%;
    font-family: 'MunikaLight';
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 42px 1px rgba(255, 255, 255, 0.20);
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.nav-btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.5);
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.pricebtn {
    transform: translate(-340%, -80%);
}

.pastworkbtn {
    transform: translate(-448%, -80%);
}

.cards-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px 20px;
    top: 50%;
    width: 100%;
    margin-top: 25%;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding: 20px 10px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease-in-out;
}

.card.standard { background: linear-gradient(45deg, #161616 0%, #2b2b2b 100%); }
.card.professional { background: linear-gradient(45deg, #1b1b1b 0%, #292929 100%); }
.card.enterprise { background: linear-gradient(45deg, #13131385 0%, #3b3b3b77 100%); }

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 35px 6px rgba(134, 134, 134, 0.5), 
                0 6px 8px -4px rgba(255, 255, 255, 0.5);
}

.card-inside {
    width: 178px;
    height: 20px;
    background-color: #8fb3d4;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 20px 30px 4px rgba(131, 156, 209, 0.4), 0 4px 6px -4px rgba(255, 255, 255, 0.4);
}

.card-title,
.card-price,
.card-desc {
    font-family: 'UraniaBlack';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.808);
    margin-top: 10px;
}

.card-price {
    font-size: 35px;
    color: white;
    margin-top: 30px;
}

.card-desc {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 20px;
    line-height: 1.5;
    min-height: 80px;
}

.card-button {
    margin-top: 30px;
    border: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    background-color: rgb(26, 26, 26);
    border-radius: 0.5rem;
    font-family: 'UraniaBlack';
    color: white;
    cursor: pointer;
    text-shadow: 0px 4px 18px #2c3442;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: rgb(243, 243, 243);
    color: #474747;
}

/* Media Queries */
@media (max-width: 1424px) {
    .cards-container {
        top: 20%;
        margin-top: 35%;
    }
    .bg-decoration { display: none; }
    .sub-title { top: 30%; font-size: 25px; }
    .desc { top: 20%; left: 0; position: relative; }
    .price-container { top: 20%; left: -94%; position: absolute; }
}

@media (max-width: 1024px) {
    .cards-container { margin-top: 0; }
    .price-container { top: -43%; left: 10.7%; }
    .desc { top: 34%; }
    .sub-title { top: 30%; font-size: 30px; }
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .price-container { top: -30%; left: -24%; position: absolute; }
    .sub-title { top: 20%; font-size: 20px; }
    .desc { top: 30%; font-size: 12px; }
    .card { max-width: 350px; }
}

@media (max-width: 480px) {
    .card { padding: 15px 5px; }
    .card-title { font-size: 18px; }
    .card-price { font-size: 30px; margin-top: 20px; }
    .card-desc { font-size: 14px; min-height: 70px; }
}
